<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Spring Blog | Create Post')">
    <meta charset="UTF-8">
    <title>Create Post</title>
</head>
<body>
    <nav th:replace="partials/navbar :: navbar"></nav>
    <form th:action="@{/posts/create}" th:method="POST" th:object="${post}">
        <label for="title">Title</label>
        <input type="text" th:field="*{title}" id="title">

        <label for="body">Body</label>
        <textarea th:field="*{body}" id="body" cols="30" rows="10"></textarea>

        <button type="submit">Create Post</button>
    </form>

    <div th:include="partials/scripts :: scripts"></div>
</body>
</html>