<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Post</title>
</head>
<body>
    <form th:action="@{|/posts/${id}/edit|}" th:method="POST" th:object="${blogPost}">
        <label for="title">Title</label>
        <input type="text" th:field="*{title}" id="title">

        <label for="body">Body</label>
        <textarea th:field="*{body}" id="body" cols="30" rows="10"></textarea>

        <button type="submit">Update Post</button>
    </form>
</body>
</html>